// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.bg-img-login {}

body {
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.form-control:focus {
    box-shadow: none;
}

.box-shadow-card {
    -webkit-box-shadow: 0px 0px 12px 2px rgba(150, 153, 156, 1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(150, 153, 156, 1);
    box-shadow: 0px 0px 12px 2px rgba(150, 153, 156, 1);
}

.main-dashboard {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 45px 1fr;
}

.my-sidebard {
    grid-row: 1 / span 3;
}

.main-content-body {
    grid-column: 2;
}

.main-content-footer {}

@media only screen and (max-width:576px) {}